venv/
env/
node_modules/
.DS_Store
.vscode/
.idea/
dist/
build/
*.log
*.pyc
__pycache__/
/.cache
.env
Thumbs.db
coverage/
/.sass-cache
/.parcel-cache
/.turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
/.pnp.js